/.vs
/.vscode
.vs
/Library
/Temp
/Logs
/obj
/iOS
/Macos.app
/docs
/ProjectSettings/XRSettings.asset

/WebGL

/Assets/TextMesh Pro
/Assets/TextMesh Pro.meta

/Assets/XChartsDemo/Test.unity
/Assets/XChartsDemo/Test.unity.meta
/Assets/XChartsDemo/empty.unity
/Assets/XChartsDemo/empty.unity.meta

/Assets/XChartsExtendDemo/*.meta

/Packages/XCharts-Bar3DChart/Editor
/Packages/XCharts-Bar3DChart/Runtime

/Packages/XCharts-FunnelChart/Editor
/Packages/XCharts-FunnelChart/Runtime

/Packages/XCharts-GanttChart/Editor
/Packages/XCharts-GanttChart/Examples
/Packages/XCharts-GanttChart/Runtime

/Packages/XCharts-GaugeChart/Editor
/Packages/XCharts-GaugeChart/Examples
/Packages/XCharts-GaugeChart/Runtime

/Packages/XCharts-LiquidChart/Editor
/Packages/XCharts-LiquidChart/Examples
/Packages/XCharts-LiquidChart/Runtime

/Packages/XCharts-PictorialBarChart/Editor
/Packages/XCharts-PictorialBarChart/Examples
/Packages/XCharts-PictorialBarChart/Runtime

/Packages/XCharts-PyramidChart/Editor
/Packages/XCharts-PyramidChart/Examples
/Packages/XCharts-PyramidChart/Runtime

/Packages/XCharts-TreemapChart/Editor
/Packages/XCharts-TreemapChart/Examples
/Packages/XCharts-TreemapChart/Runtime

/Packages/XCharts-Pie3DChart/Editor
/Packages/XCharts-Pie3DChart/Examples
/Packages/XCharts-Pie3DChart/Runtime

*.sh

*.sln
*.csproj
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.exp
*.apk
*.DS_Store
*.cache