/.vs
/.vscode
.vs
/Library
/Temp
/Logs
/obj
/iOS
/docs
/ProjectSettings/XRSettings.asset
/Assets/TextMesh Pro
/Assets/TextMesh Pro.meta

/Assets/XChartsDemo/demo_test.unity
/Assets/XChartsDemo/demo_test.unity.meta
/Assets/XChartsDemo/empty.unity
/Assets/XChartsDemo/empty.unity.meta

/Assets/XCharts-Bar3DChart-Demo
/Assets/XCharts-Bar3DChart-Demo.meta
/Assets/XCharts-FunnelChart-Demo
/Assets/XCharts-FunnelChart-Demo.meta
/Assets/XCharts-GaugeChart-Demo
/Assets/XCharts-GaugeChart-Demo.meta
/Assets/XCharts-PictorialBarChart-Demo
/Assets/XCharts-PictorialBarChart-Demo.meta
/Assets/XCharts-PyramidChart-Demo
/Assets/XCharts-PyramidChart-Demo.meta

*.sln
*.csproj
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.exp
*.apk
*.DS_Store
*.cache