/.vs
/.vscode
.vs
/Library
/Temp
/Logs
/obj
/iOS
/docs
/ProjectSettings/XRSettings.asset
sync_xcharts.sh

/WebGL

/Assets/TextMesh Pro
/Assets/TextMesh Pro.meta

/Assets/XChartsDemo/demo_test.unity
/Assets/XChartsDemo/demo_test.unity.meta
/Assets/XChartsDemo/empty.unity
/Assets/XChartsDemo/empty.unity.meta

/Assets/XChartsExtendDemo/*.meta

*.sln
*.csproj
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.exp
*.apk
*.DS_Store
*.cache